@keyframes backgroundAnimation {
    0% { background-color: #199ccf; }
    50% { background-color: #148f7e; }
    100% { background-color: #10a882; }
  }
  
  .animated-background {
    width: 100%;
    height: 150vh;
    animation: backgroundAnimation 5s infinite alternate; /* Apply the animation */
    background-repeat: 'repeat';
  }